@use '_bootstrap.scss';
@use 'bs-4.6.2.css';

@use '../../node_modules/highlight.js/styles/github.css';
@import url(https://code.cdn.mozilla.net/fonts/zilla-slab.css);

#copy {
  bottom: 4rem;
  float: right;
  position: relative;
  right: .75rem;
}

#copy-icon {
  fill: currentColor;
  height: 1rem;
  margin-bottom: 4px;
}

#output-header {
  margin-top: 1.5rem;
}

#output-header h3 {
  font-size: 2.98rem;
}

#output-clients {
  font-weight: 400;
  margin-top: -.5rem;
}

#output-config {
  font-size: .8rem;
  max-height: unset;
  white-space: pre-wrap;
}

.text-disabled {
  color: #a1a8ae;
}

/* comments underneath checkbox input fields */
div.input-group ~ small {
  margin-left: 52px !important;
}

/* comments underneath the configs */
#form-config {
  small {
    margin: 1px 8px 8px 0;
  }
}
